{% extends 'layouts/base.html' %}

{% comment %}TODO LO QUE ESTE EN TITLE APARECERA EN EL TITULO DE LA PAGINA{% endcomment %}
{% block title %}
  VISITANTES REGISTRADOS
{% endblock %}

{% comment %}MUESTRA LA UBICACION ACTUAL DE{% endcomment %}

{% block titlecontent %}
  <i class="fas fa-user-alt">LISTA DE VISITANTES</i>
{% endblock %}

{% block titlemenu %}
  Lista de Visitantes
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <div class="mb-3">{{ form.dni.label_tag }}
                  {{ form.dni }}</div>
                <button type="submit" class="btn btn-primary btn-block">Buscar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <a href="{% url 'crear_visitante' %}" class="btn btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i> Registar Nuevo</a>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for visitor in visitors %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <th scope="row">{{ visitor.get_Nac_display }}</th>
                      <th scope="row">{{ visitor.Dni }}</th>
                      <td>{{ visitor.First_name }}</td>
                      <td>{{ visitor.Last_name }}</td>
                      <td>
                        <a class="btn btn-sm btn-success" href="{% url 'detalle_visitante' dni=visitor.Dni %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="btn btn-sm btn-danger" href="{% url 'borrado_visitante' dni=visitor.Dni %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
